
.bg-dark{
    background-color: #011328 !important;
}


.navbar-nav{
    margin-right: 0 !important;
    margin-left: auto !important;
}

.nav-link{
    color: #dfebeb !important;
}

.nav-link:hover{
    color: #dfebeb !important;
}

.navbar-brand{
    color: #dfebeb !important;
    font-family: Pacifico, Lato, sans-serif;
}

.nav-item:first-child{
    padding-top: 50px;
}

.cover{
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    margin-top: 70px;
    padding-top: 70px;

    text-align: center;

    background: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.cover.routes{
    margin-top: 0px;
    padding-top: 25vh;
    background: url(../img/routes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.cover.rovaniemi{
    margin-top: 0px;
    padding-top: 25vh;
    background: url(../img/rovaniemi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.cover.kiruna{
    margin-top: 0px;
    padding-top: 25vh;
    background: url(../img/kiruna.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.cover.tromso{
    margin-top: 0px;
    padding-top: 25vh;
    background: url(../img/tromso.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

p.desc{
    width: 80%;
    text-align: justify;
    margin: auto;
}

p{
    font-family: Lato, sans-serif;
}

h1, h2, h3, h4, h5, .nav-link{
    font-family: Pacifico, Lato, sans-serif;
}

footer{
    padding: 30px;
    text-align: center;
    background-color: #011328;
}

/* Medium, tablets and up */
@media (min-width: 768px) { 

    .navbar{
        padding-left: 250px;
        padding-right: 250px;
    }

    p.desc{
        width: 50%;
        text-align: justify;
        margin: auto;
    }

    .nav-item:first-child{
        padding-top: 0;
    }

}

/* Phones and small */
@media (max-width: 767.98px) { 

    h1{
        font-size: 24px;
    }

    p{
        font-size: 14px;
    }

    p.lead{
        font-size: 16px;
    }

    .cover{
        height: 125vh; /* Fallback for browsers that do not support Custom Properties */
        height: calc(var(--vh, 1vh) * 125);
    }

}

/* Old small shitphones */
@media (max-width: 320px) { 
    .cover{
        height: 150vh; /* Fallback for browsers that do not support Custom Properties */
        height: calc(var(--vh, 1vh) * 150);
    }
}

/* CHRISTMAS LIGHTS */

.strand{

    left: -83px;
    top: 65px;
    height: 100px;

    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    margin: -15px 0 0 0;
    padding: 0;
    pointer-events: none;
}
.strand li{
    position: relative;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-interation-count: infinite;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 12px;
    height: 28px;
    border-radius: 50%;
    margin: 20px;
    display: inline-block;
    background:#f02241;
    box-shadow: 0px 4.66667px 24px 3px #f02241;
    -webkit-animation-name: flash-1;
    animation-name: flash-1;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}
.strand li:nth-child(2n+1){
    background: #42b261;
    box-shadow: 0px 4.66667px 24px 3px rgba(0, 255, 255, 0.5);
    -webkit-animation-name: flash-2;
    animation-name: flash-2;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
}
.strand li:nth-child(4n+2){
    background: #5690ec;
    box-shadow: 0px 4.66667px 24px 3px #5690ec;
    -webkit-animation-name: flash-3;
    animation-name: flash-3;
    -webkit-animation-duration: 1.1s;
    animation-duration: 1.1s;
}
.strand li:nth-child(odd){
    -webkit-animation-duration: 1.8s;
    animation-duration: 1.8s;
}
.strand li:nth-child(3n+1){
    -webkit-animation: 1.4s;
    animation-duration: 1.4s;
}
.strand li:before{
    content: "";
    position: absolute;
    background: #222;
    width: 10px;
    height: 9.33333px;
    border-radius: 3px;
    top: -4.66667px;
    left: 1px;
}
.strand li:after{
    content: "";
    top: -14px;
    left: 9px;
    position: absolute;
    width: 52px;
    height: 18.66667px;
    border-bottom: solid #222 2px;
    border-radius: 50%;
}
.strand li:last-child:after{
    content: none;
}
.strand li:first-child{
    margin-left: 40px;
}