<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' >

    <title>Fly & See Santa</title>

    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="icon" href="img/favicon.ico" type="image/svg">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
    <script src="js/routes.js" defer></script>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Fly & See Santa</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars"
            aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbars">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#main">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#routes">Routes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#rovaniemi">Rovaniemi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#kiruna">Kiruna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#tromso">Tromsø</a>
                </li>
            </ul>
        </div>

        <ul class="strand">
            <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
            <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
            <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
            <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
            <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
            <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
        </ul>

    </nav>

    <section id="main" class="cover">
        <div class="container pt-5">
            <h1>Fly & See Santa 2020</h1>
            <p class="lead">
                12th December<br>
                17:00z - 23:00z
            </p>
            <p class="desc pt-5">
                VATSIM Scandinavia welcomes you to fly and see the original Santa Claus and his home just before the
                Christmas Holiday.
                <br><br>
                Fly and See Santa is the biggest annual Christmas event in VATSIM skies and is held at three airports in
                the northernmost part of Europe. Snowy landscapes and slippery runways greet you during this magical
                event at Rovaniemi, Tromsø and Kiruna, which we hope you will enjoy as well. All three airports are
                located in the beautiful nature and wilderness of northern Europe. During December, the airspace is
                crowded with santa flights with passengers excited to visit the North.
            </p>
        </div>
    </section>

    <section id="routes" class="cover routes">
        <div class="container">
            <h1>Routes</h1>
            <p class="desc pt-5 pb-5">
                Generate your route by selecting your departure FIR, airport and destination airport.
                <br><br>
                If your airport or FIR is not listed, but you know that you are going to
                pass a FIR listed below, please select the FIR to you will pass first, then select [other] as the
                airport of departure and plan your routing thereafter to join with the suggested route.
            </p>

            <b>Bookings and routes will be availble here soon. Please check back later</b>
            <!--
            <b>Departure FIR: </b>
            <select name="fir-selector" @change="selectedDeparture=''" v-model="selectedFir" style="width: 220px;">
                <option v-for="(value, property) in firs" v-bind:value="property">
                    {{ property === 'OTHER' ? 'Other' : `${property} - ${value}` }}</option>
            </select>

            <div v-if="selectedFir">
                <b>Departure airport: </b>
                <select name="departure-selector" @change="selectedRoute=''" v-model="selectedDeparture" style="width: 197px;">
                    <option v-for="(value, property) in routes[selectedFir]" v-bind:value="property">
                        {{ property === 'OTHER' ? 'Other' : `${property} - ${aerodromes[property]}` }}</option>
                </select>
            </div>
            <div v-if="selectedDeparture">
                <b>Destination airport: </b>
                <select name="destination-selector" v-model="selectedRoute" style="width: 188px;">
                    <option v-for="(value, property) in routes[selectedFir][selectedDeparture]" v-bind:value="value">
                        {{ property === 'OTHER' ? 'Other' : `${property} - ${aerodromes[property]}` }}</option>
                </select>
            </div>
            <div v-if="routeReady">
                <h2 class="pt-5">Route</h2>
                <p style="white-space: pre-line;">{{selectedRoute}}</p>
            </div>
            -->

        </div>
    </section>

    <section id="rovaniemi" class="cover rovaniemi">
        <div class="container">
            <h1>Rovaniemi - EFRO</h1>
            <p class="desc pt-5">
                Rovaniemi airport started operations in 1940. Having been destroyed during the war, reconstruction
                started and operations resumed in 1948. By the early 1980's, the airport had become home to Lapland Air
                Command's Fighter Squadron 11 and the runway extended to its current length. A new terminal building was
                completed in the year 2000.
                <br><br>
                The airport's scheduled traffic consists mostly of domestic flights, but in addition there are a number
                of charter flights (especially during the winter season), general aviation activity, Border Guard
                helicopters and naturally lots of military aircraft.
            </p>
            <a href="https://vatsim-scandinavia.org/pilots/airports-charts/airport/efro/" target="_blank"
                class="btn btn-primary mt-4">Charts and documents</a>

        </div>
    </section>

    <section id="kiruna" class="cover kiruna">
        <div class="container">
            <h1>Kiruna - ESNQ</h1>
            <p class="desc pt-5">
                Kiruna Airport is Sweden’s northernmost airport and is situated around 9 km from the city centre. On a
                regular basis SAS and Norwegian flies daily, connecting Kiruna with Stockholm. During the winter the
                airport sees numerous charter flights with passengers wanting to see the northern lights and most likely
                the famous Ice Hotel as well.
                <br><br>
                Due to its location in northern Sweden with its cold climate and the fact that the airspace around is
                quite calm, it makes it a popular airport for scientific research. NASA, Boeing and Airbus are some of
                the regular visitors when testing new airframes or technology.
            </p>
            <a href="https://vatsim-scandinavia.org/pilots/airports-charts/airport/esnq/" target="_blank"
                class="btn btn-primary mt-4">Charts and documents</a>
        </div>
    </section>

    <section id="tromso" class="cover tromso">
        <div class="container">
            <h1>Tromsø - ENTC</h1>
            <p class="desc pt-5">
                Welcome to Tromsø!

                Tromsø is the biggest city in Northern Norway and is often called as “the Nordic answer to Paris”. 
                The airport is located 3 kilometres from the city centre and is an important hub for the commuter network in Northern Norway. 
                It also has international destinations within Europe. The surrounding area is spectacular and the approach into Tromsø is known for its steep approach down to the runway. 
                
                <br><br>
                Are you up for the challenge?
            </p>
            <a href="https://vatsim-scandinavia.org/pilots/airports-charts/airport/entc/" target="_blank"
                class="btn btn-primary mt-4">Charts and documents</a>
        </div>
    </section>

    <footer>
        <a href="https://vatsim-scandinavia.org" target="_blank">
            <img src="img/vatsca-logo-negative.svg" height="75">
        </a>
    </footer>

    <script src="js/snow.js" defer></script>
    <script>
        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
                e.preventDefault();

                document.querySelector(this.getAttribute('href')).scrollIntoView({
                    behavior: 'smooth',
                    block: 'nearest'
                });
            });
        });

        // Collapse the menu when clicked on mobile
        $('.navbar-nav>li>a').on('click', function(){
            $('.navbar-collapse').collapse('hide');
        });

        // First we get the viewport height and we multiple it by 1% to get a value for a vh unit
        let vh = window.innerHeight * 0.01;
        // Then we set the value in the --vh custom property to the root of the document
        document.documentElement.style.setProperty('--vh', `${vh}px`);

    </script>

</body>

</html>